<h2>Сменить пароль и почту</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name),
  data: { turbo: false },
  html: { method: :put }) do |f| %>

  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="mb-3">
    <%= f.label :email, class: 'form-label fw-bold' %>
    <%= f.email_field :email, class: 'form-control w-25', autofocus: true,
      autocomplete: "email" %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div class="mb-3">
      Currently waiting confirmation for: <%= resource.unconfirmed_email %>
    </div>
  <% end %>

  <div class="mb-3">
    <%= f.label :password, class: 'form-label fw-bold' %>
      <i>(оставьте поле пустым если не хотите менять его)</i>
    <%= f.password_field :password, class: 'form-control w-25',
      autocomplete: "new-password" %>
    <% if @minimum_password_length %>
      <em>Минимум <%= @minimum_password_length %> символов</em>
    <% end %>
  </div>

  <div class="mb-3">
    <%= f.label :password_confirmation, class: 'form-label fw-bold' %>
    <%= f.password_field :password_confirmation, class: 'form-control w-25',
      autocomplete: "new-password" %>
  </div>

  <div class="mb-3">
    <%= f.label :current_password, class: 'form-label fw-bold' %>
      <i>(введите текущий пароль для подтверждения изменений)</i>
    <%= f.password_field :current_password, class: 'form-control w-25',
      autocomplete: "current-password" %>
  </div>

  <div class="actions">
    <%= f.submit "Сохранить", class: 'btn btn-primary' %> или
      <%= link_to 'вернуться', :back, class: 'text-decoration-none' %>
  </div>
<% end %>

<div class="mt-3">
  <%= button_to "Удалить профиль", registration_path(resource_name),
    class: 'btn btn-danger', form: { data: { turbo_confirm: "Вы уверены?" }},
    method: :delete %></p>
</div>
