<%= form_with model: @event, data: { turbo: false } do |form| %>
  <%= render partial: 'partials/form_errors', locals: { model: @event } %>

  <div class="mb-3">
    <%= form.label :title, class: 'form-label fw-bold' %>
    <%= form.text_field :title, class: 'form-control' %>
  </div>

  <div class="mb-3">
    <%= form.label :address, class: 'form-label fw-bold' %>
    <%= form.text_field :address, class: 'form-control' %>
  </div>

  <div class="mb-3">
    <%= form.label :datetime, class: 'form-label fw-bold' %>
    <div>
      <%= form.datetime_select :datetime, class: 'form-control' %>
    </div>
  </div>

  <div class="mb-3">
    <%= form.label :description, class: 'form-label fw-bold' %>
    <%= form.text_area :description, class: 'form-control' %>
  </div>

  <div class="mb-3">
    <%= form.label :pincode, class: 'form-label fw-bold' %>
    <%= form.text_field :pincode, class: 'form-control' %>
  </div>

  <div class="actions">
    <%= form.submit t('buttons.save'), class: 'btn btn-primary' %> <%= t('or') %>
      <%= link_to t('links.back'), :back, class: 'text-decoration-none' %>
  </div>
<% end %>
