<h2 class="text-center"><%= t('.header') %></h1>

<div class="container mb-3 d-flex justify-content-center">
  <%= form_with method: :post, data: { turbo: false } do |form| %>
    <div class="input-group mb-4 mt-3">
      <span class="input-group-text"><i class="bi bi-key-fill"></i></span>
      <%= form.text_field :pincode, placeholder: t('.pincode_placeholder'),
        class: 'form-control' %>
    </div>

    <div class="actions mb-2">
      <%= form.submit t('buttons.save'), class: 'btn btn-primary' %>
    </div>

     <%= link_to t('links.main'), events_path, class: 'text-decoration-none' %>
  <% end %>
</div>
