<a href='<%= url_for(photo.image) %>'
  data-gallery='example-gallery'
  class='col-lg-2 col-3 mx-1 buffer-both event-photo'
  data-toggle='lightbox'
  data-caption='<%= t("add") %> <%= render partial: "users/user", object: photo.user %>
                <% if current_user_can_edit?(photo) %>
                  <%= link_to event_photo_path(photo.event, photo),
                    data: { turbo_method: :delete, turbo_confirm: t(".destroy_confirm") } do %>
                      <i class="bi bi-trash red-icon"></i>
                  <% end %>
                <% end %>'
>
    <%= image_tag(photo.image.variant(:thumb), class: 'rounded') %>
</a>
