<h1><%= t('.title', event: @comment.event.title) %></h1>
<p><%= @comment.body %></p>
<p><%= t('.author') %>: <strong><%= @comment.user_name %></strong></p>

<hr>

<%= t('.event') %>
<h3>
  <%= @comment.event.title %>
</h3>

<%= t('.datetime') %>
<h4><%= l @comment.event.datetime, format: :long %></h4>

<%= t('.owner') %>
<h4><%= @comment.event.user.name %></h4>
