<!DOCTYPE html>
<html>
  <head>
    <title><%= t('app.name') %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <% if content_for?(:head) %>
      <%= yield(:head) %>
    <% end %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU&amp;apikey=<%= Rails.application.credentials.dig(:ym, :key) %>"
      type="text/javascript"></script>
  </head>

  <body class="d-flex flex-column min-vh-100">
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
      <div class="container-fluid ms-5">
        <%= link_to t('app.name'), root_path, class: 'navbar-brand fw-bold' %>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
          aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ms-auto me-3">
            <% if user_signed_in? %>
              <li class="nav-item">
                <%= link_to t('links.profile'), current_user, class: 'nav-link active' %>
              </li>
              <li class="nav-item">
                <%= link_to t('links.log_out'), destroy_user_session_path,
                  data: { turbo_method: :delete }, class: 'nav-link active' %>
              </li>
            <% else %>
              <li class="nav-item">
                <%= link_to t('links.log_in'), new_user_session_path, class: 'nav-link active' %>
              </li>
              <li class="nav-item">
                <%= link_to t('links.sign_up'), new_user_registration_path,
                  class: 'nav-link active' %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </nav>

    <% if flash[:notice].present? %>
      <div data-controller="flash" class="alert alert-success alert-dismissible fade show"
        data-timeout="3000" role="alert">
        <%= flash[:notice] %>
        <button data-action="flash#dismiss" type="button" class="btn-close"
          data-bs-dismiss="alert" aria-label="Close">
      </div>
    <% elsif flash[:alert].present? %>
      <div data-controller="flash" class="alert alert-danger alert-dismissible fade show"
        data-timeout="3000" role="alert">
        <%= flash[:alert] %>
        <button data-action="flash#dismiss" type="button" class="btn-close"
          data-bs-dismiss="alert" aria-label="Close">
      </div>
    <% end %>

    <div class="container mt-4 mb-4">
      <%= yield %>
    </div>

    <footer class="bg-dark text-center text-white mt-auto">
      <div class="text-center p-3">
        &copy
        <%= link_to t('app.company'), 'https://goodprogrammer.ru',
          class: 'text-white' %>
        2023
      </div>
    </footer>
  </body>
</html>
