<!DOCTYPE html>
<html>
  <head>
    <title>BBQ!</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
      <div class="container-fluid ms-5">
        <%= link_to 'BBQ!', root_path, class: 'navbar-brand fw-bold' %>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
          aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ms-auto me-3">
            <% if user_signed_in? %>
              <li class="nav-item">
                <%= link_to 'Профиль', current_user, class: 'nav-link active' %>
              </li>
              <li class="nav-item">
                <%= link_to 'Выйти', destroy_user_session_path,
                  data: { turbo_method: :delete }, class: 'nav-link active' %>
              </li>
            <% else %>
              <li class="nav-item">
                <%= link_to 'Войти', new_user_session_path, class: 'nav-link active' %>
              </li>
              <li class="nav-item">
                <%= link_to 'Зарегистрироваться', new_user_registration_path,
                  class: 'nav-link active' %>
              </li>
            <% end %>

            <!-- <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Link</a>
            </li> -->
          </ul>
        </div>
      </div>
    </nav>

    <% if flash[:notice].present? %>
      <p class="alert alert-success"><%= flash[:notice] %></p>
    <% elsif flash[:alert].present? %>
      <p class="alert alert-danger"><%= flash[:alert] %></p>
    <% end %>

    <div class="container mt-4">
      <%= yield %>
    </div>
  </body>
</html>
